<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/navbar.js"></script>
    <title>404 Not Found | Qux</title>
  </head>

  <body class="bg-dark" data-bs-theme="dark">
    <nav class="navbar navbar-expand bg-primary fixed-top" data-bs-theme="dark">
      <div class="container">
        <a class="navbar-brand" href="/">404 | Qux</a>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a href="/">Home</a>
          </li>
        </ul>
      </div>
    </nav>
    <div
      class="container-fluid vh-100 d-flex flex-column align-items-center justify-content-center text-center"
    >
      <h1 class="display-1 fw-bold text-white mb-4">404</h1>
      <p class="text-secondary mb-4">Page not found</p>
      <a href="/" class="btn btn-primary btn-lg">Go Home</a>
    </div>
  </body>
</html>
