<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/bootstrap.bundle.min.js"></script>
    <title>Verify | Qux</title>
</head>

<body class="bg-dark" data-bs-theme="dark">
    <nav class="navbar navbar-expand bg-primary fixed-top" data-bs-theme="dark">
        <div class="container">
            <a class="navbar-brand" href="/">Verify | Qux</a>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="/">Home</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="min-vh-100 d-flex align-items-center justify-content-center">
        <div class="col-11 col-sm-8 col-md-6 col-lg-4">
            <form action="/api/verify" method="post">
                <div class="form-floating mb-3">
                    <input type="hidden" name="ip" value="">
                    <input type="hidden" name="redirectTo" value="">
                    <input type="password" class="form-control" id="floatingInput" name="password" placeholder="xxxxxx"
                        required>
                    <label for="floatingInput">Password</label>
                </div>
                <div class="d-grid">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
    <script>
        const params = new URLSearchParams(location.search);
        document.querySelector('input[name="ip"]').value = params.get('ip') ?? '';
        document.querySelector('input[name="redirectTo"]').value = params.get('redirectTo') ?? '';
    </script>
</body>
</html>